layout {

    focus-ring {
        active-color   "#c4c4e5"
        inactive-color "#131315"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#c4c4e5"
        inactive-color "#131315"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#c4c4e5"
        inactive-color "#434460"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#c4c4e580"
    }
}

recent-windows {
    highlight {
        active-color "#c4c4e5"
        urgent-color "#ffb4ab"
    }
}
