layout {

    focus-ring {
        active-color   "#ffb4a1"
        inactive-color "#1e100c"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb4a1"
        inactive-color "#1e100c"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb4a1"
        inactive-color "#891e00"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb4a180"
    }
}

recent-windows {
    highlight {
        active-color "#ffb4a1"
        urgent-color "#ffb4ab"
    }
}
